@import "tailwindcss";

@theme {
  --color-slate-950: #030712;
  --color-slate-50: #f8fafc;
  --color-gray-100: #f3f4f6;
  --color-gray-200: #e5e7eb;
  --color-gray-300: #d1d5db;
  --color-gray-400: #9ca3af;
  --color-gray-500: #6b7280;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-red-800: #7f1d1d;
  --color-red-900: #7f1d1d;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-slate-950 text-slate-50;
}
